<div id="sidebar">
    <div class="inner">

        {{!-- Nav - partials/navigation.hbs --}}
        {{#if @site.navigation}}
            {{navigation type="primary"}}
        {{/if}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright">&copy; {{@site.title}} - All rights reserved<br>
            Powered by <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> and <a href="https://github.com/TryGhost/Editorial" target="_blank" rel="noopener">Editorial</a> theme</p>
        </footer>

    </div>
</div>
